---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
---

<Layout title="Practice">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Gohit Bastian <a
					href="https://www.linkedin.com/in/bastndev"
					target="_blank"
					class="flex justify-center items-center"
				>
					<Badge> CEO and Developer</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-blue-500">Lorem ipsum</span>, dolor sit amet
				consectetur adipisicing elit. Unde reiciendis atque incidunt possimus ad
				temporibus, sapiente voluptate fuga? Debitis cumque, doloremque itaque
				cupiditate dicta fuga quod ipsam nam molestiae earum!
			</h2>
			<ul>
				<li>
					<a href="https://github.com/bastndev">
						<LinkedinIcon class="w-6 h-6" />
						Github</a
					>
				</li>
			</ul>
		</section>
	</main>
</Layout>
