---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<Layout title="Practice" description="Practice Astro in 2024">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-40">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Gohit Bastian <a
					href="https://www.linkedin.com/in/bastndev"
					target="_blank"
					class="flex justify-center items-center"
				>
					<Badge> CEO and Developer</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-blue-500">Lorem ipsum</span>, dolor sit amet
				consectetur adipisicing elit. Unde reiciendis atque incidunt possimus ad
				temporibus, sapiente voluptate fuga? Debitis cumque, doloremque itaque
				cupiditate dicta fuga quod ipsam nam molestiae earum!
			</h2>
			<ul>
				<nav class="flex gap-x-4 mt-5">
					<SocialPill href="https://github.com/bastndev">
						<GithubIcon class="size-6" />
						Github
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/bastndev/">
						<LinkedinIcon class="size-6" />
						Linkedin
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/bastndev/">
						<MailIcon class="size-6" />
						basd3v@gmail.com
					</SocialPill>
				</nav>
			</ul>
		</section>
	</main>
</Layout>
