---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Practice">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Gohit Bastian <div class="flex justify-center items-center">
					<Badge> CEO and Developer</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-70">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde
				reiciendis atque incidunt possimus ad temporibus, sapiente voluptate
				fuga? Debitis cumque, doloremque itaque cupiditate dicta fuga quod ipsam
				nam molestiae earum!
			</h2>
			<ul></ul>
		</section>
	</main>
</Layout>
