---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="absolute top-0 z-[-2] h-screen w-screen items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#1B1B1B_100%)]"
		>
			<div
				class="absolute top-0 z-[-2] h-screen w-screen bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
			>
			</div>
		</div>

		<Header />
		<slot />

		<style is:global>
			:root {
				color-scheme: light dark;
			}
			html {
				font-family: "Onest Variable", sans-serif;
			}
			body {
				display: flex;
				flex-direction: column;
				background: #191919;
				height: 100vh;
				overflow-x: hidden;
				overflow-y: visible;
			}
		</style>
	</body>
</html>
